body {
    color: #7c70d4;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera{
    color: #ddd;;
    background: #5c1060;
    box-shadow: 0px 2px 15px 0px chartreuse;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    padding: 0.5rem;
}

#cabecera #tagline{
    font-size: 15px;   
    color: yellow; 
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}